@model ProjectTrackingSystem.Domain.Entities.User

<h1>Create User</h1>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Role">Role</label>
        <input asp-for="Role" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/Users" class="btn btn-secondary">Cancel</a>
</form>

